USE [master]
GO
/****** Object:  Database [FaceAttendDB]    Script Date: 3/17/2026 6:55:22 PM ******/
CREATE DATABASE [FaceAttendDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FaceAttendDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FaceAttendDB.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'FaceAttendDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FaceAttendDB_log.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 10240KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaceAttendDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaceAttendDB]
GO
/****** Object:  User [IIS APPPOOL\FaceAttend]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE USER [IIS APPPOOL\FaceAttend] FOR LOGIN [IIS APPPOOL\FaceAttend] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\FaceAttend]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\FaceAttend]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[ProvinceName] [nvarchar](100) NULL,
	[HUCCity] [nvarchar](100) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[RadiusMeters] [int] NOT NULL,
	[WiFiSSID] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Offices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](20) NOT NULL,
	[Department] [nvarchar](100) NULL,
	[OfficeId] [int] NOT NULL,
	[IsFlexi] [bit] NOT NULL,
	[FaceEncodingBase64] [nvarchar](max) NULL,
	[EnrolledDate] [datetime2](7) NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](150) NOT NULL,
	[FaceEncodingsJson] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveEmployeesWithFace]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ActiveEmployeesWithFace]
AS
SELECT 
    e.Id,
    e.EmployeeId,
    e.FirstName,
    e.LastName,
    e.MiddleName,
    e.Department,
    e.Position,
    e.Status,
    e.IsActive,
    e.EnrolledDate,
    CASE 
        WHEN e.FaceEncodingsJson IS NOT NULL THEN LEN(e.FaceEncodingsJson) 
        ELSE 0 
    END as FaceEncodingsJsonLength,
    CASE 
        WHEN e.FaceEncodingBase64 IS NOT NULL THEN 1 
        ELSE 0 
    END as HasLegacyEncoding,
    o.Name as OfficeName
FROM dbo.Employees e
LEFT JOIN dbo.Offices o ON e.OfficeId = o.Id
WHERE e.Status = 'ACTIVE';
GO
/****** Object:  Table [dbo].[AdminAuditLogs]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[AdminIp] [nvarchar](50) NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityType] [nvarchar](50) NULL,
	[EntityId] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdminAuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceLogs]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[EventType] [nvarchar](20) NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[EmployeeFullName] [nvarchar](200) NULL,
	[Department] [nvarchar](100) NULL,
	[OfficeId] [int] NOT NULL,
	[OfficeType] [nvarchar](20) NULL,
	[OfficeName] [nvarchar](200) NULL,
	[GPSLatitude] [float] NULL,
	[GPSLongitude] [float] NULL,
	[GPSAccuracy] [float] NULL,
	[WiFiSSID] [nvarchar](100) NULL,
	[LocationVerified] [bit] NOT NULL,
	[LocationError] [nvarchar](200) NULL,
	[FaceDistance] [float] NULL,
	[FaceSimilarity] [float] NULL,
	[MatchThreshold] [float] NULL,
	[LivenessScore] [float] NULL,
	[LivenessResult] [nvarchar](20) NULL,
	[LivenessError] [nvarchar](200) NULL,
	[ClientIP] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[NeedsReview] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[OfficeCode] [nvarchar](20) NULL,
	[ProvinceName] [nvarchar](100) NULL,
	[HUCName] [nvarchar](100) NULL,
	[IsAutoRecorded] [bit] NOT NULL,
	[AttendanceDate]  AS (CONVERT([date],[Timestamp])) PERSISTED,
	[AttemptedAtUtc] [datetime2](7) NULL,
	[AttendanceDateLocal]  AS (CONVERT([date],dateadd(hour,(8),[Timestamp]))) PERSISTED,
	[ScanHour]  AS (datepart(hour,[Timestamp])) PERSISTED,
	[ScanMinute]  AS (datepart(minute,[Timestamp])) PERSISTED,
 CONSTRAINT [PK_AttendanceLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Fingerprint] [nvarchar](64) NOT NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
	[DeviceType] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
	[RegisteredFromIp] [nvarchar](45) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedBy] [int] NULL,
	[LastUsedAt] [datetime2](7) NULL,
	[UseCount] [int] NOT NULL,
	[DeviceToken] [nvarchar](64) NULL,
	[TokenExpiresAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfigurations]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfigurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](500) NULL,
	[DataType] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_SystemConfigurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorLogs]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VisitorId] [int] NULL,
	[OfficeId] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[VisitorName] [nvarchar](200) NOT NULL,
	[Purpose] [nvarchar](500) NULL,
	[Source] [nvarchar](50) NOT NULL,
	[ClientIP] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
 CONSTRAINT [PK_VisitorLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[FaceEncodingBase64] [nvarchar](max) NULL,
	[VisitCount] [int] NOT NULL,
	[FirstVisitDate] [datetime2](7) NOT NULL,
	[LastVisitDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Visitors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Offices] ON 

INSERT [dbo].[Offices] ([Id], [Code], [Name], [Type], [ProvinceName], [HUCCity], [Latitude], [Longitude], [RadiusMeters], [WiFiSSID], [IsActive], [CreatedDate]) VALUES (1, N'R12-RO', N'DILG REGION XII – REGIONAL OFFICE', N'REGION', NULL, NULL, 6.4527134, 124.8788036, 100, N'DILG-R12-RO', 1, CAST(N'2026-02-10T06:03:18.2768704' AS DateTime2))
INSERT [dbo].[Offices] ([Id], [Code], [Name], [Type], [ProvinceName], [HUCCity], [Latitude], [Longitude], [RadiusMeters], [WiFiSSID], [IsActive], [CreatedDate]) VALUES (2, N'R12-SC', N'DILG REGION XII – SOUTH COTABATO', N'PROVINCE', N'South Cotabato', NULL, 6.4932418, 124.8385853, 100, N'DILG-R12-SC', 1, CAST(N'2026-02-10T06:03:18.2768704' AS DateTime2))
INSERT [dbo].[Offices] ([Id], [Code], [Name], [Type], [ProvinceName], [HUCCity], [Latitude], [Longitude], [RadiusMeters], [WiFiSSID], [IsActive], [CreatedDate]) VALUES (3, N'R12-SAR', N'DILG REGION XII – SARANGANI', N'PROVINCE', N'Sarangani', NULL, 5.8744, 125.0892, 100, N'DILG-R12-SAR', 1, CAST(N'2026-02-10T06:03:18.2768704' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Offices] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemConfigurations] ON 

INSERT [dbo].[SystemConfigurations] ([Id], [Key], [Value], [DataType], [Description], [ModifiedDate], [ModifiedBy]) VALUES (1, N'DlibTolerance', N'0.60', N'double', N'Face matching distance threshold', CAST(N'2026-02-10T06:03:18.2847674' AS DateTime2), N'SYSTEM')
INSERT [dbo].[SystemConfigurations] ([Id], [Key], [Value], [DataType], [Description], [ModifiedDate], [ModifiedBy]) VALUES (2, N'LivenessThreshold', N'0.60', N'double', N'Liveness detection minimum score', CAST(N'2026-03-13T08:08:32.4006213' AS DateTime2), N'SYSTEM_FIX')
INSERT [dbo].[SystemConfigurations] ([Id], [Key], [Value], [DataType], [Description], [ModifiedDate], [ModifiedBy]) VALUES (3, N'GPSRadiusDefault', N'100', N'int', N'Default GPS geofence radius in meters', CAST(N'2026-02-10T06:03:18.2847674' AS DateTime2), N'SYSTEM')
SET IDENTITY_INSERT [dbo].[SystemConfigurations] OFF
GO
/****** Object:  Index [IX_AdminAuditLog_Timestamp]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdminAuditLog_Timestamp] ON [dbo].[AdminAuditLogs]
(
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminAuditLogs_Action]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdminAuditLogs_Action] ON [dbo].[AdminAuditLogs]
(
	[Action] ASC,
	[Timestamp] ASC
)
INCLUDE([EntityType],[EntityId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminAuditLogs_EntityType_EntityId]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdminAuditLogs_EntityType_EntityId] ON [dbo].[AdminAuditLogs]
(
	[EntityType] ASC,
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceLog_Employee_Timestamp]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLog_Employee_Timestamp] ON [dbo].[AttendanceLogs]
(
	[EmployeeId] ASC,
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_AttendanceLogs_AntiDoubleTap]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_AntiDoubleTap] ON [dbo].[AttendanceLogs]
(
	[EmployeeId] ASC,
	[AttendanceDate] DESC,
	[Timestamp] DESC
)
INCLUDE([EventType]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_AttendanceLogs_AttendanceDate]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_AttendanceDate] ON [dbo].[AttendanceLogs]
(
	[AttendanceDate] ASC
)
INCLUDE([EmployeeId],[EventType],[OfficeId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceLogs_Employee_ScannedAt]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_Employee_ScannedAt] ON [dbo].[AttendanceLogs]
(
	[EmployeeId] ASC,
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceLogs_EmployeeId_OfficeId_Timestamp]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_EmployeeId_OfficeId_Timestamp] ON [dbo].[AttendanceLogs]
(
	[EmployeeId] ASC,
	[OfficeId] ASC,
	[Timestamp] ASC
)
INCLUDE([EventType],[EmployeeFullName],[Department]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceLogs_NeedsReview]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_NeedsReview] ON [dbo].[AttendanceLogs]
(
	[NeedsReview] ASC
)
WHERE ([NeedsReview]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceLogs_Office_ScannedAt]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_Office_ScannedAt] ON [dbo].[AttendanceLogs]
(
	[OfficeId] ASC,
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceLogs_OfficeId]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_OfficeId] ON [dbo].[AttendanceLogs]
(
	[OfficeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AttendanceLogs_Source]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_Source] ON [dbo].[AttendanceLogs]
(
	[Source] ASC,
	[Timestamp] ASC
)
INCLUDE([EmployeeId],[EventType]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceLogs_Timestamp]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceLogs_Timestamp] ON [dbo].[AttendanceLogs]
(
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [UX_AttendanceLogs_Employee_EventType_Minute]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AttendanceLogs_Employee_EventType_Minute] ON [dbo].[AttendanceLogs]
(
	[EmployeeId] ASC,
	[EventType] ASC,
	[AttendanceDate] ASC,
	[ScanHour] ASC,
	[ScanMinute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_DeviceToken_Unique]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Devices_DeviceToken_Unique] ON [dbo].[Devices]
(
	[DeviceToken] ASC
)
WHERE ([DeviceToken] IS NOT NULL AND [DeviceToken]<>'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Devices_Employee_Active]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_Employee_Active] ON [dbo].[Devices]
(
	[EmployeeId] ASC
)
WHERE ([Status]='ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Devices_EmployeeId]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_EmployeeId] ON [dbo].[Devices]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_Fingerprint]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_Fingerprint] ON [dbo].[Devices]
(
	[Fingerprint] ASC
)
WHERE ([Status]='ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_Fingerprint_Unique]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Devices_Fingerprint_Unique] ON [dbo].[Devices]
(
	[Fingerprint] ASC
)
WHERE ([Fingerprint] IS NOT NULL AND [Fingerprint]<>'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Devices_LastUsedAt]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_LastUsedAt] ON [dbo].[Devices]
(
	[LastUsedAt] ASC
)
INCLUDE([EmployeeId],[Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Devices_RegisteredAt]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_RegisteredAt] ON [dbo].[Devices]
(
	[RegisteredAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_Status]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_Status] ON [dbo].[Devices]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_Status_Pending]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_Status_Pending] ON [dbo].[Devices]
(
	[Status] ASC,
	[RegisteredAt] DESC
)
WHERE ([Status]='PENDING')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Employees_EmployeeId]    Script Date: 3/17/2026 6:55:23 PM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UK_Employees_EmployeeId] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_OfficeId]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_OfficeId] ON [dbo].[Employees]
(
	[OfficeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Status]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Status] ON [dbo].[Employees]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Status_Pending]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Status_Pending] ON [dbo].[Employees]
(
	[Status] ASC,
	[CreatedDate] DESC
)
WHERE ([Status]='PENDING')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Employees_EmployeeId_Active]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Employees_EmployeeId_Active] ON [dbo].[Employees]
(
	[EmployeeId] ASC
)
WHERE ([Status] IN ('ACTIVE', 'PENDING'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Offices_Code]    Script Date: 3/17/2026 6:55:23 PM ******/
ALTER TABLE [dbo].[Offices] ADD  CONSTRAINT [UK_Offices_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Offices_IsActive]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Offices_IsActive] ON [dbo].[Offices]
(
	[IsActive] ASC
)
INCLUDE([Code],[Name]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SystemConfigurations_Key]    Script Date: 3/17/2026 6:55:23 PM ******/
ALTER TABLE [dbo].[SystemConfigurations] ADD  CONSTRAINT [UK_SystemConfigurations_Key] UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SystemConfigurations_Key]    Script Date: 3/17/2026 6:55:23 PM ******/
ALTER TABLE [dbo].[SystemConfigurations] ADD  CONSTRAINT [UQ_SystemConfigurations_Key] UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VisitorLogs_OfficeId]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_VisitorLogs_OfficeId] ON [dbo].[VisitorLogs]
(
	[OfficeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VisitorLogs_Timestamp]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_VisitorLogs_Timestamp] ON [dbo].[VisitorLogs]
(
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VisitorLogs_VisitorId]    Script Date: 3/17/2026 6:55:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_VisitorLogs_VisitorId] ON [dbo].[VisitorLogs]
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminAuditLogs] ADD  CONSTRAINT [DF_AdminAuditLogs_Timestamp]  DEFAULT (sysutcdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[AttendanceLogs] ADD  CONSTRAINT [DF_AttendanceLogs_LocationVerified]  DEFAULT ((0)) FOR [LocationVerified]
GO
ALTER TABLE [dbo].[AttendanceLogs] ADD  CONSTRAINT [DF_AttendanceLogs_NeedsReview]  DEFAULT ((0)) FOR [NeedsReview]
GO
ALTER TABLE [dbo].[AttendanceLogs] ADD  DEFAULT ((1)) FOR [IsAutoRecorded]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT (getutcdate()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [UseCount]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsFlexi]  DEFAULT ((0)) FOR [IsFlexi]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_FirstName]  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_LastName]  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_Position]  DEFAULT (N'') FOR [Position]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_Status]  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Offices] ADD  CONSTRAINT [DF_Offices_RadiusMeters]  DEFAULT ((100)) FOR [RadiusMeters]
GO
ALTER TABLE [dbo].[Offices] ADD  CONSTRAINT [DF_Offices_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Offices] ADD  CONSTRAINT [DF_Offices_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SystemConfigurations] ADD  CONSTRAINT [DF_SystemConfigurations_ModifiedDate]  DEFAULT (sysutcdatetime()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[VisitorLogs] ADD  CONSTRAINT [DF_VisitorLogs_Timestamp]  DEFAULT (sysutcdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Visitors] ADD  CONSTRAINT [DF_Visitors_VisitCount]  DEFAULT ((1)) FOR [VisitCount]
GO
ALTER TABLE [dbo].[Visitors] ADD  CONSTRAINT [DF_Visitors_FirstVisitDate]  DEFAULT (sysutcdatetime()) FOR [FirstVisitDate]
GO
ALTER TABLE [dbo].[Visitors] ADD  CONSTRAINT [DF_Visitors_LastVisitDate]  DEFAULT (sysutcdatetime()) FOR [LastVisitDate]
GO
ALTER TABLE [dbo].[Visitors] ADD  CONSTRAINT [DF_Visitors_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttendanceLogs]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceLogs_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[AttendanceLogs] CHECK CONSTRAINT [FK_AttendanceLogs_Employees]
GO
ALTER TABLE [dbo].[AttendanceLogs]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceLogs_Offices] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[Offices] ([Id])
GO
ALTER TABLE [dbo].[AttendanceLogs] CHECK CONSTRAINT [FK_AttendanceLogs_Offices]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Offices] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[Offices] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Offices]
GO
ALTER TABLE [dbo].[VisitorLogs]  WITH CHECK ADD  CONSTRAINT [FK_VisitorLogs_Offices] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[Offices] ([Id])
GO
ALTER TABLE [dbo].[VisitorLogs] CHECK CONSTRAINT [FK_VisitorLogs_Offices]
GO
ALTER TABLE [dbo].[VisitorLogs]  WITH CHECK ADD  CONSTRAINT [FK_VisitorLogs_Visitors] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitors] ([Id])
GO
ALTER TABLE [dbo].[VisitorLogs] CHECK CONSTRAINT [FK_VisitorLogs_Visitors]
GO
ALTER TABLE [dbo].[AttendanceLogs]  WITH CHECK ADD  CONSTRAINT [CK_AttendanceLogs_EventType] CHECK  (([EventType]='UNKNOWN' OR [EventType]='OUT' OR [EventType]='IN'))
GO
ALTER TABLE [dbo].[AttendanceLogs] CHECK CONSTRAINT [CK_AttendanceLogs_EventType]
GO
ALTER TABLE [dbo].[AttendanceLogs]  WITH CHECK ADD  CONSTRAINT [CK_AttendanceLogs_Source] CHECK  (([Source]='MOBILE' OR [Source]='KIOSK'))
GO
ALTER TABLE [dbo].[AttendanceLogs] CHECK CONSTRAINT [CK_AttendanceLogs_Source]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [CK_Devices_Status] CHECK  (([Status]='REPLACED' OR [Status]='BLOCKED' OR [Status]='PENDING' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [CK_Devices_Status]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_Status] CHECK  (([Status]='PENDING' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CHK_Employee_Status]
GO
ALTER TABLE [dbo].[Offices]  WITH CHECK ADD  CONSTRAINT [CK_Offices_Type] CHECK  (([Type]='HUC' OR [Type]='PROVINCE' OR [Type]='REGION'))
GO
ALTER TABLE [dbo].[Offices] CHECK CONSTRAINT [CK_Offices_Type]
GO
ALTER TABLE [dbo].[Visitors]  WITH CHECK ADD  CONSTRAINT [CK_Visitors_VisitCount] CHECK  (([VisitCount]>=(0)))
GO
ALTER TABLE [dbo].[Visitors] CHECK CONSTRAINT [CK_Visitors_VisitCount]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckDuplicateFace]    Script Date: 3/17/2026 6:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CheckDuplicateFace]
    @ExcludeEmployeeId NVARCHAR(20) = NULL,
    @Tolerance FLOAT = 0.45
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        EmployeeId,
        FaceEncodingBase64,
        FaceEncodingsJson
    FROM dbo.Employees
    WHERE Status = 'ACTIVE'
      AND (@ExcludeEmployeeId IS NULL OR EmployeeId != @ExcludeEmployeeId)
      AND (FaceEncodingBase64 IS NOT NULL OR FaceEncodingsJson IS NOT NULL);
END
GO
USE [master]
GO
