<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- Debug build: payagan ang local troubleshooting. -->
    <compilation debug="true"
                 xdt:Transform="SetAttributes(debug)" />

    <customErrors mode="Off"
                  xdt:Transform="SetAttributes(mode)" />
  </system.web>

  <appSettings>
    <add key="Security:HstsEnabled"
         value="false"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />

    <add key="Security:CspReportOnly"
         value="true"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />

    <add key="Biometrics:Debug"
         value="true"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
